body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
}

.number,
.operator,
.operatorEquals,
.operatorDot {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.number:hover,
.operator:hover,
.operatorEquals:hover,
.operatorDot:hover {
    background-color: rgb(73, 90, 105);
}

#firstRow,
#secondRow,
#thirdRow,
#fourthRow,
#fifthRow {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    margin-bottom: 2px;
}





#clearButton {
    border: 1px solid black;
    cursor: pointer;
    width: 20px;
    display: flex;
    justify-content: center;
    transition: background-color 0.5s ease-out;
}

#clearButton:hover {
    background-color: firebrick;
}

#firstRow {
    background-color: aliceblue;
}

.calculator {
    border: 2px solid firebrick;
    padding: 2px;
}